.main_container {
  display: grid;
  grid-template-columns: 1fr 350px;
  margin: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: 120px 330px;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
}

.logo {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .main_container {
    grid-template-columns: 1fr;
  }
}

.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.main_img {
  height: 400px;
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
}

.thumbnail_img {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 10%;
}

.thumbnail_container {
  display: grid;
  grid-template-columns: repeat(4, 110px);
}

.shopping_cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 70px 70px;
  justify-content: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 1%;
  margin-left: 20px;
  margin-right: 20px;
}

.cart_item {
  display: grid;
  grid-template-columns: 60px 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.cart_item_img {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  border-radius: 10%;
}

.bnt-remove {
}
